.inputBtnContainer{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px
}


.inputContainer {
    background-color: white;
    width: 100%;
    border-radius: 50px;
    height: 2.5rem;
    padding: 0 20px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 15px;
}

.inputField {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.1rem;
    width: 100%;
    margin-left: 5px;
}

.inputField:focus {
    outline: none;
}

.buttonContainer {
    background-color: #FF6D3B; /* The orange color */
    color: white; 
    border: 2px solid transparent; /* Transparent border initially */
    border-radius: 50px; 
    padding: 8px 15px; 
    display: flex; 
    align-items: center; 
    font-size: 16px; 
    font-weight: 700;
    white-space: nowrap; /* Prevent text from wrapping */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.buttonContainer .bi {
    margin-right: 10px; 
    font-size: 20px; 
}

.buttonContainer:hover {
    background-color: white;
    color: #FF6D3B;
    border: 2px solid #FF6D3B;
}

.buttonContainer:hover .bi {
    color: #FF6D3B; /* Change icon color on hover */
}
