.rbc-event {
    background-color: #00c946 !important;
    opacity: 1;
    border-radius: 5px !important;
    color: white;
    display: block;
    border: 1px solid rgb(40, 167, 69) !important;
    width: 95% !important;
    left: 6% !important;
    bottom: 0% !important;
}
.custom-override
    .rbc-time-content
    .rbc-time-column
    .rbc-timeslot-group
    .rbc-time-slot {
    background-color: #fff !important;
}

.rbc-event-session {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #caffd8;
}

.rbc-event-label {
    background-color: transparent;
    color: #ffffff;
}

.rbc-toolbar-label {
    color: #121d22;
}

.rbc-toolbar {
    display: flex;
    justify-content: flex-start;
}

.rbc-today {
    background-color: #ecebff;
}

.rbc-off-range-bg {
    background-color: #f1f3f5;
}

.rbc-day-bg {
    border: 1px solid #fff;
}

.rbc-time-content > * + * > * {
    border-left: 1px solid #eee;
}

.rbc-time-header {
    background-color: unset !important;
}

.on-leave-slot {
    position: relative;
}

.on-leave-slot::before {
    content: 'On Leave';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.rbc-time-header-cell {
    padding: 0 !important;

    margin: 0 !important;
}

.rbc-time-header {
    margin-bottom: 0px !important;
}

.rbc-time-content {
    border-top: 0 !important;
}

.rbc-timeslot-group {
    min-height: 80px !important;

    line-height: 1 !important;
}

.rbc-time-view {
    padding: 0 !important;

    margin: 0 !important;
}

.rbc-header {
    background-color: #f1f1fb;
    color: #5f6368;
    border: none;
}

.rbc-day-slot .rbc-time-slot {
    border: 0px;
}

.rbc-today {
    background-color: #e3f2fd !important;
    color: #1976d2 !important;
}

.rbc-header.rbc-today {
    background-color: #4e18a5 !important;
    color: #feffff !important;
}

.rbc-time-gutter .on-leave-slot {
    background-color: unset !important;
}

.rbc-time-gutter .on-leave-slot::before {
    content: unset !important;
}

.rbc-time-gutter .rbc-time-slot {
    background-color: transparent !important;
    opacity: 1 !important;
    border: none !important;
}
