.logo{
    line-height: 1;
    text-decoration: none;
}



@media (min-width : 1200px){
    .logo{
        width: 280px;
    }
}


.logo img {
    max-height: 80px;
    margin-right: 6px;
}

.logo span{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #000;
    font-family: 'Nunito', sans-serif;
}

.logo .subtitle{
    font-size: 16px;
    font-weight: 100;
    color: #000;
    letter-spacing: 7px;
    font-family: 'Nunito', sans-serif;
}