/* Override autofill background color */
.MuiInputBase-input:-internal-autofill-selected {
    background-color: white !important; /* Override with your desired background color */
    color: inherit !important; /* Inherit the text color */
}

